:root {
    --primary-red: #ff0000;
    --accent-red: #d32f2f;
    --off-white: #fdf5e6;
    --dark-violet: #1a001a;
    --metallic-silver: #c0c0c0;
    --metallic-grey: #a9a9a9;
    --gradient: #141414;
    --shadow-light: #0000001a;
    --shadow-medium: #00000033;
    --shadow-dark: #0000004d;
    --dim: #ffeaea83;
  }
  