


.home_main_image {
    background: url('/static/images/reg_bg-1.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  
 
  .home_main_image .overlay {
    background-color: #00000099;
    height: 100%;
    width: 100%;
    padding: 2rem;
  }
  
  .btn-explore {
    background-color: var(--primary-red);
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .btn-explore:hover {
    background-color: var(--accent-red);
  }
  
 
  .showcase-section {
    padding: 4rem 0;
    /* background-color: var(--off-white); */
  }
  
  .model-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--shadow-light);
    transition: transform 0.3s ease;
    height: 100%;
  }
  
  .model-card:hover {
    transform: translateY(-5px);
  }
  
 
  .why-us-section {
    padding: 4rem 0;
    background-color: #fff;
  }
  
  .why-us-section h5 {
    color: var(--accent-red);
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .why-us-section p {
    color: #444;
  }
  
 
  .motto-section {
    background-color: var(--dark-violet);
    min-height: 50vh;
    padding: 3rem;
    color: var(--off-white);
  }
  
 
  .testimonial-section {
    padding: 4rem 0;
    width: 100%;
    background-color: #f4f4f4;
  }
  
  blockquote {
    background-color: white;
    border-left: 5px solid var(--primary-red);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-style: italic;
  }
  
 
  .cta-section {
    width: 100%;
    padding: 4rem 0;
    /* background-color: var(--metallic-grey); */
    /* color: white; */
  }
  
  .cta-section h3 {
    font-weight: 600;
  }
  
  .btn-cstm {
    background-color: var(--primary-red);
    color: white;
    padding: 12px 30px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease;
  }
  
  .btn-cstm:hover {
    background-color: var(--accent-red);
  }
  