
.status-timeline {
    background-color: white;
    border: 1px solid var(--metallic-silver);
    border-radius: 8px;
}

.progress-bar-vertical {
    position: relative;
    width: 4px;
    height: 300px;
    background-color: var(--metallic-grey);
    margin: 0 auto;
}

.progress-fill {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--primary-red);
    height: 0%;
    transition: height 0.5s ease;
}

.progress-steps {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress-steps .step p {
    color: var(--dark-violet);
    margin: 0;
}
