
.status-timeline {
    background-color: white;
    border: 1px solid var(--metallic-silver);
    border-radius: 8px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.customer-name h4 {
    color: var(--dark-violet);
}

.vehicle-info p {
    margin: 0;
    color: var(--dark-violet);
}

.progress-wrapper {
    display: flex;
    justify-content: flex-end;
}

.progress-bar-vertical {
    position: relative;
    width: 4px;
    height: 300px;
    background-color: var(--metallic-grey);
}

.progress-fill {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--primary-red);
    height: 0%;
    transition: height 0.5s ease;
}

.progress-steps {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progress-steps .step p {
    color: var(--dark-violet);
    margin: 0;
}

@media (max-width: 576px) {
    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .vehicle-info {
        margin-top: 10px;
    }
    .progress-wrapper {
        justify-content: flex-end;
    }
    .progress-bar-vertical {
        height: 250px;
    }
    .progress-steps {
        left: 30px;
    }
    .progress-steps .step p {
        font-size: 14px;
    }
}
