.btn-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .btn-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 2rem;
    }
    .btn {
        width: 100%;
    }
}

@media print {
    html, body {
        height: auto !important;
        overflow: visible !important;
    }

    .main_div_user {
        height: auto !important;
        overflow: visible !important;
    }

    button,
    .btn,
    .no-print,
    .navbar-toggle {
        display: none !important;
        page-break-before: avoid !important;
        page-break-after: avoid !important;
    }

    .navbar,
    .footer_main {
        display: block !important;
        position: static !important;
        margin: 0;
        page-break-before: avoid !important;
        page-break-after: avoid !important;
    }

    .print-section {
        display: block !important;
    }


    table {
        width: 100% !important;
        page-break-inside: avoid;
    }

    .container, .main, .content {
        max-width: 100% !important;
        overflow-x: visible !important;
    }

    html.print-pdf .graph-section {
        display: block !important;
    }
}
