{% extends 'sales_dpt/salesBase.html' %}
{% load static %}
{% block title %}Upload Customers{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'sales_dpt/css/upload_customers.css' %}">

<div class="container mt-5">
  <h2 class="mb-4 text-center">Upload Customer List</h2>
  <form method="post" enctype="multipart/form-data" class="upload-section mx-auto" style="max-width: 500px;">
    {% csrf_token %}
    <input type="file" name="customer_file" class="form-control mb-3" accept=".xlsx, .xls" required>
    <button type="submit" class="btn btn-cstm w-100">Upload File</button>
  </form>
</div>
{% endblock %}
