
body.register-body {
    background-image: url('/static/images/reg_bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.register-overlay {
    background-color: #00000080;
    height: calc(100vh - 139px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #00000086;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    color: var(--off-white);
    box-shadow: var(--shadow-medium);
    backdrop-filter: blur(2px);
}

.form-container input {
    border-radius: 5px;
}


@media (max-width: 376px) {
    .form-container {
      padding: 1rem;
      max-height: 100%;
      width: 90%;
      border-radius: 0;
      box-shadow: none;
      margin: 1rem 0;
    }
  
    .form-container h2 {
      font-size: 1.3rem;
    }
  
    .form-container input {
      font-size: 0.9rem;
      padding: 0.4rem;
    }
  
    .form-container label {
      font-size: 0.85rem;
    }
  
    .register-overlay {
      align-items: flex-start;
      padding-top: 2rem;
      height: auto;
      height: 100%;
    }
  
    .form-container button,
    .form-container input[type="submit"] {
      font-size: 0.95rem;
      padding: 0.5rem;
    }
  
    .text-center.mb-4 {
      margin-bottom: 1rem !important;
    }
  }
  